body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  max-width: 80%;
}

.login-container {
  min-height: 77vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-box h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.login {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login:hover {
  background-color: #fff;
  color: green;
  border: 1px solid green;
}

.signup {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: skyblue;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.signup:hover {
  background-color: #fff;
  color: skyblue;
  border: 1px solid skyblue;
}

/* Responsive Design */
@media (max-width: 888px) {
  .login-box {
    padding: 20px;
  }
}
