body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  max-width: 80%;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.signup-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.signup-box h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.button-group {
  display: flex;
  gap: 10px;
}

.create {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create:hover {
  background-color: #fff;
  color: green;
  border: 1px solid green;
}

.back {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.back:hover {
  background-color: #fff;
  color: red;
  border: 1px solid red;
}

/* Responsive Design */
@media (max-width: 888px) {
  .signup-box {
    padding: 20px;
  }

  .button-group {
    flex-direction: column;
  }
}
